{% extends "base.html" %}

{% block content %}
    <div id="admin">
        <h4>
            Users
        </h4>
        <a href="{{ url_for('admin.user_add') }}">add new user</a>
        <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp admin-user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Tasks</th>
                    <th>Admin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id  if user.id }}</td>
                        <td>{{ user.username if user.username }}</td>
                        <td>{{ user.name if user.name }}</td>
                        <td>{{ user.surname if user.surname }}</td>
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        <td>{{ user.tasks.__len__()  }}</td>
                        <td>
                            {% if(user.is_admin) %}
                                <input type="checkbox" class="mdl-checkbox__input" checked disabled/>
                            {%  else  %}
                                <input type="checkbox" class="mdl-checkbox__input" disabled />
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('admin.toggle_admin', user_id=user.id) }}">
                                {% if(user.is_admin) %}
                                    Remove admin
                                {%  else  %}
                                    Add admin
                                {% endif %}
                            </a>

                            <a href="{{ url_for('admin.user_details', user_id=user.id) }}">Details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Articles</h4>
        <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp admin-user-table">
            <thead>
                <th>ID</th>
                <th>Title</th>
                <th></th>
            </thead>
            <tbody>
                {% for article in articles %}
                   <tr>
                       <td>{{ article.article_id }}</td>
                       <td>
                           <a href="{{ article.url }}">
                               {{ article.title }}
                           </a>
                       </td>
                        <td>
                            <a href="{{ url_for('admin.article_details', article_id=article.article_id) }}">Details</a>
                        </td>
                   </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
