{% extends "base.html" %}

{% block content %}
    <div id="admin">
        <div>
            <h4>{{ article.title }}</h4>
        </div>

        <div>
            <h5>Sentences ({{ article.sentences.__len__() }})</h5>
            <table class="mdl-data-table admin-user-table">
                <thead>
                    <tr>
                        <th class="number">ID</th>
                        <th>sequence_nr</th>
                        <th>Body</th>
                        <th>Modification</th>
                        <th>Tasks</th>
                        <th>Task Owner</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sentence in article.sentences %}
                        <tr>
                            <td class="number">{{ sentence.sentence_id }}</td>
                            <td class="number">{{ sentence.sequence_nr if sentence.sequence_nr }}</td>
                            <td class="sentence-body">{{ sentence.body if sentence.body }}</td>
                            <td class="sentence-body">{{ sentence.modif if sentence.modif }}</td>
                            <td>{{  sentence.task.__len__() }}</td>
                            <td>{% if sentence.task.__len__() != 0 %}
                                    {{ sentence.task[0].user  if sentence.task[0].user }}
                                {% endif %}
                            </td>
                            <td>
                                {% if sentence.task.__len__() == 0 %}
                                    <a href="{{ url_for('admin.sentence_details', sentence_id=sentence.sentence_id) }}">Change</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
