{% extends "base.html" %}

{% block content %}
<div>
    <h4>User data</h4>
    <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp admin-user-table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td>username</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>name</td>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <td>surname</td>
                <td>{{ user.surname }}</td>
            </tr>
            <tr>
                <td>email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>is_admin</td>
                <td>{{ user.is_admin }}</td>
            </tr>
        </tbody>
    </table>
    <h4>Add tasks</h4>
    <form action="{{ url_for('admin.add_tasks', user_id=user.id) }}" method="post" novalidate>
        {{ taskForm.hidden_tag() }}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ taskForm.article.label(class_="mdl-textfield__label") }}<br>
            {{ taskForm.article(class_="mdl-textfield__input") }}
        </div>
        <p>{{ taskForm.submit(class_="mdl-button mdl-js-button mdl-button--raised mdl-button--colored") }}</p>
    </form>

    {%  if user.tasks.__len__() > 0 %}
        <h4>Tasks ({{ user.tasks.__len__() }})</h4>
        <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp admin-user-table">
            <thead>
                <tr>
                    <th>task_id</th>
                    <th>time_start</th>
                    <th>time_end</th>
                    <th>rate</th>
                    <th>steps</th>
                    <th>tags</th>
                    <th>reason</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for task in user.tasks %}
                <tr>
                    <td>{{ task.task_id }}</td>
                    <td>{{ task.time_start.strftime('%Y-%m-%d %H:%M:%S') if task.time_start }}</td>
                    <td>{{ task.time_end.strftime('%Y-%m-%d %H:%M:%S') if task.time_end }}</td>
                    <td>{{ task.rate.value if task.rate }}</td>
                    <td>{{ task.steps if task.steps }}</td>
                    <td>{{ task.tags if task.tags }}</td>
                    <td>{{ task.reason if task.reason }}</td>
                    <td>
                       {% if(task.rate) %}
                           <a href="{{ url_for('admin.clear_task', user_id=user.id, task_id=task.task_id) }}">Clear</a>
                        {% endif %}
                        <a href="{{ url_for('admin.remove_task', user_id=user.id, task_id=task.task_id) }}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h4>Change password</h4>
    <form action="{{ url_for('admin.change_password', user_id=user.id) }}" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield">
                {{ form.password.label(class_="mdl-textfield__label") }}<br>
                {{ form.password(size=32, class_="mdl-textfield__input") }}
            </div>
            <p>{{ form.submit(class_="mdl-button mdl-js-button mdl-button--raised mdl-button--colored") }}</p>
        </div>
    </form>
</div>
{% endblock %}
