{% extends "base.html" %}

{% macro render_field(field) %}
    <div class="mdl-textfield mdl-js-textfield">
        {{ field.label }}
        {{ field(class_="mdl-textfield__input", **kwargs)|safe }}
    </div>
    <br/>
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </dd>
{% endmacro %}

{% block content %}

    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mdl-card__supporting-text">
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            {{ render_field(form.name) }}
            {{ render_field(form.surname) }}
            {{ render_field(form.email) }}
            <p>{{ form.submit(class_="mdl-button mdl-js-button mdl-button--raised mdl-button--colored") }}</p>
        </div>
    </form>

{% endblock %}
