<div class="instructions">
    <button class="mdl-button mdl-button--raised mdl-button--colored" id="show-dialog">
        Pokaż instrukcje
    </button>
    <dialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">Instrukcja</h4>
        <div class="mdl-dialog__content">
            <p>
                Instrukcja tresc
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button close">Zamknij</button>
        </div>
    </dialog>
</div>
