{% extends "base.html" %}

{% block js %}
    <script>
        const sentences = {{ sentences |tojson }};
    </script>
    <script defer src="{{ url_for('static', filename='js/task.js') }}"></script>
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate class="task-container">
        <div class="task-button">
            <a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Back
            </a>
        </div>
        <div class="task">
            {% include 'partials/instruction.html' %}
            <div class="mdl-card mdl-shadow--2dp mdl-color--white">

                <div class="mdl-card__supporting-text">
                    <p>Slowa kluczowe: {{ keywords }}</p>

                    {{ sentence.body }}
                </div>

                <div class="rate_items">
                    {% for option in options %}
                        <label class="mdl-radio mdl-js-radio" for="{{option}}">
                            <input type="radio"
                                   id="{{option}}"
                                   name="rate"
                                   class="mdl-radio__button"
                                   value="{{ option }}"
                            >
                            <span class="mdl-radio__label">{{option}}</span>
                        </label>
                    {% endfor %}
                </div>

                <div class="mdl-card__actions mdl-card--border task-buttons">
                    <button id="moreContext" class="mdl-button mdl-button--colored">
                        Potrzebuje wiecej kontekstu
                    </button>
                    <a class="mdl-button mdl-button--colored" href="/index">
                        Zakończ
                    </a>
                </div>
            </div>
        </div>
        <input type="hidden" name="time_start" />
        <input type="hidden" name="time_end" />
        <div class="task-button">
            <button type="submit" id="save" class="mdl-button mdl-button--raised mdl-button--colored">
                Zapisz
            </button>
        </div>
    </form>
{% endblock %}
