{% extends "base.html" %}

{% block content %}
    <div class="home-container">
        <div id="first-task-manager" style="display: {% if nextTask == None %} none; {% endif %}">
            {%  if nextTask %}
                <a href="{{ url_for('perform_task', task_id = nextTask.task_id) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                    Evaluate next sentence
                </a>
            {% endif %}

            <h4>Your completed evaluations: {{ completed_tasks_len }} out of {{ total_tasks_len }} </h4>

            <progress class="progress-bar" max="{{ total_tasks_len }}" value="{{ completed_tasks_len }}"></progress>            
        </div>
        <div id="second-task-manager">
            {%  if next_second_task %}
                <a href="{{ url_for('perform_second_task', s_task_id = next_second_task.s_task_id) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                    Evaluate next sentence (give a secondary opinion)
                </a>
            {% endif %}

            <h4>Your completed evaluations: {{ completed_second_tasks_len }} out of {{ total_second_tasks_len }} </h4>

            <progress class="progress-bar" max="{{ total_second_tasks_len }}" value="{{ completed_second_tasks_len }}"></progress>            
        </div>



        <!--{%  if tasks.__len__() %}-->
            <!--<table class="mdl-data-table mdl-data-table&#45;&#45;selectable mdl-shadow&#45;&#45;2dp taks-table">-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Date</th>-->
                        <!--<th>Rate</th>-->
                        <!--<th>Steps</th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--{% for task in tasks %}-->
                    <!--<tr>-->
                        <!--<td>-->
                            <!--{{ task.time_end.strftime('%Y-%m-%d %H:%M:%S') if task.time_end }}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{ task.rate.value }}-->
                        <!--</td>-->
                        <!--<td>{{ task.steps}}</td>-->
                    <!--</tr>-->
                <!--{% endfor %}-->
            <!--</table>-->
        <!--{% endif %}-->
    </div>
{% endblock %}
