{% extends "base.html" %}

{% block content %}

    <div class="mdl-card § mdl-color--white">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Sign In</h2>
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield">
                    {{ form.username.label(class_="mdl-textfield__label") }}<br>
                    {{ form.username(size=32, class_="mdl-textfield__input") }}
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    {{ form.password.label(class_="mdl-textfield__label") }}<br>
                    {{ form.password(size=32, class_="mdl-textfield__input") }}
                </div>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit(class_="mdl-button mdl-js-button mdl-button--raised mdl-button--colored") }}</p>
            </div>
        </form>
    </div>
{% endblock %}
