{% extends "base.html" %}

{% block js %}
    <script>
        const sentences = {{ sentences |tojson }};
        const initSentence = "{{ sentence.body }}";
    </script>
    <script defer src="{{ url_for('static', filename='js/task.js') }}"></script>
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate class="task-container">
        <div class="task-button">
            <a href="{{ url_for('index') }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Back
            </a>
        </div>
        <div class="task">
            {% include 'partials/instruction.html' %}
            <div class="mdl-card mdl-shadow--2dp mdl-color--white">

                {% if(keywords) %}
                    <div class="mdl-color--blue-grey-50 keywords">
                        Keywords:
                        {% for keyword in keywords %}
                            <span class="mdl-chip mdl-color--blue mdl-color-text--white">
                                    <span class="mdl-chip__text">{{ keyword }}</span>
                                </span>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="mdl-card__supporting-text" id="sentenceBody">
                </div>

                <div class="rate_items">
                    {% for option in options %}
                        <label class="mdl-radio mdl-js-radio" for="{{option}}">
                            <input type="radio"
                                   id="{{option}}"
                                   name="rate"
                                   class="mdl-radio__button"
                                   value="{{ option }}"
                            >
                            <span class="mdl-radio__label">{{option}}</span>
                        </label>
                    {% endfor %}
                </div>
                <div id="tags" class="hide">
                    <h4>Select reason</h4>
                    <ul style="list-style-type:none;">
                        {% for tag in tags %}
                            <li class="tag" for="{{tag}}">
                                <input type="checkbox"
                                       id="{{tag}}"
                                       name="tag"
                                       class="mdl-radio__button"
                                       value="{{ tag }}"
                                >
                                <label for="{{ tag }}" class="tag">{{tag}}</label>
                            </li>
                        {%  endfor %}
                    </ul>
                    <label for="reason">Other reason</label>
                    <textarea id="reason" class="mdl-textfield__input" name="reason"></textarea>
                </div>

                <div class="mdl-card__actions mdl-card--border task-buttons">
                    <button id="moreContext" class="mdl-button mdl-button--colored">
                        I need more context
                    </button>
                    <a class="mdl-button mdl-button--colored" href="{{ url_for('index') }}">
                        abandon
                    </a>
                </div>
            </div>
        </div>
        <input type="hidden" name="time_start" />
        <input type="hidden" name="time_end" />
        <input type="hidden" name="steps" value="0"/>
        <div class="task-button">
            <button disabled type="submit" id="save" class="mdl-button mdl-button--raised mdl-button--accent">
                Save
            </button>
        </div>
    </form>
{% endblock %}
